@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome To Category CRUD</h1>
    <h2>
        Click on the <b>Menu</b> option on the Navbar and then click on the required option in order to see <strong>Categories</strong> and <strong>Sub-Categories</strong>.<br />
        <strong>Thanks</strong>.
    </h2>
</div>
